
#carouselSite {
    max-width: 1345px;
    background: rgb(223, 223, 223);
}


#botao{ text-align: center }
.btn-comprar{
    text-align: center;
    padding: 3px 10px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #FCC302;
    font-size: 18px;
    color: #FFF;
}

.produto{
    position: relative;
}

.quantidade{display: inline-block;
    width: 100%;
    height: 36px;
    border-radius: 29px;
    border: 1px solid #ddd;
    text-align: center;
}


.botao_menos,
.botao_mais {
    border: 0;
    position: absolute;
    top: 3px;
    left: 3px;
    height: 30px;
    width: 30px;
    background-color: #eeeeee;
    border-radius: 50%;
    text-align: center;
    padding-top: 1px;
    font-size: 18px;
    color: #ff0938
}

.botao_menos:hover,
.botao_mais:hover {
    background-color: #DEDEDE;
    color: #ff0938
}

.botao_mais {
    left: auto !important;
    right: 3px
}

* {
	box-sizing: border-box;
}

.footer-area {
	background:#6C7A89;		

}
.footer-direitos {
	background: #A9A9A9;
}


.img_desc {
    max-width: 250px;
    width: 100%;
}

article {
    margin-bottom: 800px;
}

/* Formatação de imagens com legendas */
figure#foto-legenda {
    position: relative;
    box-shadow: 1px 1px 4px black;
    height: 300px;
}

figure#foto-legenda img {
    width: 100%;
    height: 100%;
}
figure#foto-legenda figcaption {
    opacity: 0;
}


@media screen and (min-width: 601px) {


    figure#foto-legenda figcaption {
        opacity: 0;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, .4);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 1s;
    }
    figure#foto-legenda:hover figcaption {
         opacity: 1;
     }

}

@media screen and (max-width: 600px) {


    figure#foto-legenda figcaption {
        opacity: 1;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, .4);
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    figure#foto-legenda:hover figcaption {
        opacity: 1;
    }

}
