* {
	box-sizing: border-box;
}

.footer-area {
	width: 100%;
	height: 400px;
	background:#6C7A89;		

}

.footer-informacoes {
	width:100%;
	height:400px;
	background: #C0C0C0;
	position: relative;
}

.footer-direitos {
	width:100%;
	height:50px;
	background: #A9A9A9;
	position: absolute;
}

.footer-informacoes-texto {
	color: #fff;
	width: 600px;
	height: -500px;
}

.footer-direitos-texto {
	color: #fff;
}

.img_desc {
    max-width: 250px;
    width: 100%;
}

#frame-mapa {
    width: 100%;
    height: 300px;
}

#img-secao {
    width: 50%;
    height: auto;
}